// Coloring
$natural100: #F7F7F7;
$natural90: #E1E1E1;
$natural80: #D5D5D5;
$natural70: #B4B4B4;
$natural60: #929292;
$natural50: #7C7C7C;
$natural40: #5A5A5A;
$natural30: #383838;
$natural20: #161616;
$natural10: #0B0B0B;
$primary100: #DD004E;
$primary50: #FF3E82;
$primary25: #FF9FC1;

// Local Font
@font-face {
    font-family: 'Montserrat';
    src: url(../../assets/font/Montserrat-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto';
    src: url(../../assets/font/Roboto-Regular.ttf) format('truetype');
}

// Banner
header{
    background-color: $primary25;
    height: 25vh;
    width: 100vw;
    .row{
        gap: 25px;
    }
    @media screen and (max-width:480px) {
        height: 50vh;
    }
}

// Main Landing Page
main{
    .nav-list{
        padding-top: 50px;
        border-radius: 5px;
        border-bottom: 1px solid $primary100;
        margin-bottom: 25px;
        .btn{
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            line-height: normal;
            width: fit-content;
            font-size: 2rem;
            letter-spacing: 0.5px;
        }
    }
    h2{
        color: $natural100;
        margin: 25px 0;
        b{
            color: $primary100 !important;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            color: $natural10;
            line-height: normal;
            font-size: 2.5rem;
            letter-spacing: 0.75px;
        }
    }
    .d-flex{
        a{
            margin-top: 25px;
        }
    }
}